<!DOCTYPE html> 
<html> 
	<head> 
	    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	    <title>模拟百度图趣瀑布流布局</title>
	    <divnk rel="shortcut icon" href="../../favicon-ico" type="image/x-icon">
	    <style type="text/css">
			*{
				margin:0;
				padding: 0;
			}
			#main{
				position: relative;
			}
			.box{
				float: left;
				padding:15px 0 0 15px;
			}
			.pic{
				border:1px solid #ccc;
				border-radius: 5px;
				box-shadow: 0 0 8px #999;
				padding: 5px;
			}
			.pic img{
				width: 165px;
			}
	    </style>
	</head>
	<body>
	    <div id="main">
	    	<div class="box">
	    		<div class="pic"><img src="../images/01.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/0.jpg" alt=""></div>
	    	</div>		
	    	<div class="box">
	    		<div class="pic"><img src="../images/1.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/2.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/3.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/4.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/5.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/6.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/7.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/8.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/9.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/10.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/11.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/12.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/13.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/14.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/15.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/16.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/17.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/18.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/19.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/20.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/21.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/22.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/23.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/24.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/25.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/26.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/27.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/28.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/29.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/30.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/31.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/32.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/33.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/34.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/35.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/36.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/37.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/38.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/39.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/40.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/41.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/42.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/43.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/44.jpg" alt=""></div>
	    	</div>
	    	<div class="box">
	    		<div class="pic"><img src="../images/45.jpg" alt=""></div>
	    	</div>
	    	</div>
	    </div>
	    <script type="text/javascript">
	    	window.onload = function(){
	    		function Init (){
	    			var oParent = document.getElementById('main');
	    			this.oParent = oParent;
	    			this.oDivBox = this.getByClass(oParent,'box');
	    			this.unit();
	    		}
	    		Init.prototype = {
	    			unit : function(){
	    				var oScreenWidth = document.documentElement.clientWidth,
	    				that = this,
	    				oDivBox = that.oDivBox,
	    				oImgW = this.oDivBox[0].offsetWidth;
	    				var cols = Math.floor(oScreenWidth/oImgW);
	    				that.oParent.cssText = 'width:'+ oImgW*cols + 'px;margin:0 auto';
	    					var divArrH = [];
	    				for(var i=0;i<oDivBox.length;i++){
	    					if(i<cols){
	    						divArrH.push(oDivBox[i].offsetHeight);
	    					}else{
	    						var minH = Math.min.apply(null,divArrH);
			    				var index = this.getMinHeight(divArrH,minH);
			    				oDivBox[i].style.position = 'absolute';
			    				oDivBox[i].style.top = minH + 'px';
			    				oDivBox[i].style.left = oDivBox[index].offsetLeft + 'px';
		    					divArrH[index] += oDivBox[i].offsetHeight;
	    					}
	    				}
	    			},
	    			getMinHeight : function(arr,val){
	    				for(var i in arr){
	    					//console.log(arr,val)
	    					if(arr[i] == val){
	    						return i;
	    					}
	    				}
	    			},
	    			getByClass : function (parent,divCls){
	    				var arr = [],
	    				oElement = parent.getElementsByTagName('*');
	    				for(var i=0;i<oElement.length;i++){
	    					if(oElement[i].className == divCls){
	    						arr.push(oElement[i]);
	    					}
	    				}
	    				return arr;
	    			}
	    		}
	    		var init = new Init();
	    	}
	    </script>
	</body>
</html>