<!DOCTYPE html> 
<html> 
	<head> 
	    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	    <title>缓冲运动示例一</title> 
	    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	    <style type="text/css">
			*{margin:0;padding: 0;}
			#demo{
				width: 200px;
				height: 200px;
				background-color: #f0f0f0;
				position: absolute;
				left:-200px;
				top: 0;
			}
			span{
				position: absolute;
				left: 200px;
				width: 20px;
				height: 200px;
				line-height: 100px;
				color: #fff;
				background-color: blue;
				font:14px/16px bold "微软雅黑" #333;
			}
	    </style>
	</head>
	<body>
	    <div id="demo" style="left:-200px;">
    		<span>分享</span>
	    </div>
    	<script>
    		(function(){
    			var oDiv = document.getElementById("demo");
    			var oSpan = document.getElementsByTagName('span')[0];
    			oDiv.onmouseover = function(){
    				startMove(this,0);
    			}
    			oDiv.onmouseout = function(){
    				startMove(this,-200);
    			}
    			var timer = null,
				speed = 0,
    			flag = true;
    			function startMove (obj,iTarget){
    				clearInterval(timer);
    				timer = setInterval(function(){
    					var oStyle = parseInt(getStyle(obj,'left'));
    					speed = (iTarget - oStyle)/20;
    					speed = speed > 0 ? Math.ceil(speed) : Math.floor(speed);
    					if(oStyle != iTarget){
    						obj.style.left = oStyle + speed + 'px';
    					}else{
    						clearInterval(timer);
    					}
    				},30);
    			}
    			function getStyle(obj,attr){
    				if(obj.currentStyle){
    					return obj.currentStyle[attr];
    				}else{
    					return getComputedStyle(obj,false)[attr];
    				}
    			}
    		}());
    	</script>
	</body>
</html>